div {
    border: solid 2px black;
    border-radius: 5px;
    margin: 5px;

}

button {
    margin: 5px;
}

#calcul {
    display: grid;
    height: 400px;
    width: 300px;
}

#resultat {
    grid-template-rows: flex;
    grid-column: 1 / 6;
    grid-row: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}

#seven {
    grid-template-rows: flex;
    grid-column: 1;
    grid-row: 2;

}

#eight {
    grid-template-rows: flex;
    grid-column: 2;
    grid-row: 2;   
}

#nine {
    grid-template-rows: flex;
    grid-column: 3;
    grid-row: 2;
}

#slash {
    grid-template-rows: flex;
    grid-column: 4;
    grid-row: 2;
}

#ce {
    grid-template-rows: flex;
    grid-column: 5;
    grid-row: 2;  
}

#four {
    grid-template-rows: flex;
    grid-column: 1;
    grid-row: 3;   
}

#five {
    grid-template-rows: flex;
    grid-column: 2;
    grid-row: 3;  
}

#six {
    grid-template-rows: flex;
    grid-column: 3;
    grid-row: 3;  
}

#multiply {
    grid-template-rows: flex;
    grid-column: 4;
    grid-row: 3;  
}

#c {
    grid-template-rows: flex;
    grid-column: 5;
    grid-row: 3;   
}

#one {
    grid-template-rows: flex;
    grid-column: 1;
    grid-row: 4;    
}

#two {
    grid-template-rows: flex;
    grid-column: 2;
    grid-row: 4;  
}

#three {
    grid-template-rows: flex;
    grid-column: 3;
    grid-row: 4;   
}

#less {
    grid-template-rows: flex;
    grid-column: 4;
    grid-row: 4;   
}

#equal {
    grid-template-rows: flex;
    grid-column: 5;
    grid-row: 5 ; 
}

#zero {
    grid-template-rows: flex;
    grid-column: 1 ;
    grid-row: 5;   
}

#point {
    grid-template-rows: flex;
    grid-column: 3;
    grid-row: 5;   
}

#more {
    grid-template-rows: flex;
    grid-column: 4;
    grid-row: 5;
}

#more {
    grid-template-rows: flex;
    grid-column: 4;
    grid-row: 5;
}